.greeting {
  background-color: red;
  position: fixed;
  height: 100%;
  width: 100%;
}

.game-position {
  height: 1000px;
  width: 1000px;
  margin: auto;
}

.game-container {
  display: inline-block;
  margin-top: 100px;
  margin-left: 200px;
}

.game-text-display {
  width: 600px;
  height: 800px;
  background-color: rgb(0, 220, 228);
  text-align: center;
}

#game-start {
  position: relative;
  padding: 20px;
  font-size: 50px;

}

#game-end {
  padding: 20px;
}

#score {
  text-align: center;
  font-size: 30px;
}

#score-text {
  position: absolute;
  padding-top: 10px;
  font-size: 30px;
  margin-left: 500px;
}

.game-text {
  color: white;
  margin-top: 300px;
}

#game {
  position: relative;
}
